$orange-theme: #e74c3c;
$white-text: rgb(255, 255, 255);
$gray-text: #999999;
$gray-text-title: #6a6a6a;
$text-light-gray: #cbc6c0;
$gray-background: #202020;
$h1-font-size: 4.5rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$p-font-size: 0.875rem;
@mixin format-btns {
  min-height: 3.438rem;
  min-width: 14.063rem;
  &:focus {
    box-shadow: 0 0 0 0.25rem #e74d3c86;
  }
}
@mixin format-titles {
  text-align: center;
  height: 23.125rem;
  padding: 8.75rem 0 0 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

* {
  box-sizing: border-box;
  body {
    .container-fluid {
      margin: auto;
      max-width: 120.125rem;
      padding: 0;
      header {
        position: relative;
        nav {
          padding: 0 19.5%;
          position: absolute;
          top: 2%;
          width: 100%;
          z-index: 2;
          height: auto;
          .container-fluid {
            display: flex;
            justify-content: space-between;
            text-align: center;
            .navbar-brand {
              width: auto;
              height: auto;
            }
            .navbar-toggler {
              .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                &:hover {
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsla(6, 78%, 57%, 0.643)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
              }
              &:focus {
                box-shadow: 0 0 0 0.25rem hsla(6, 78%, 57%, 0.643);
              }
            }
            #navbarNavAltMarkup {
              width: 100%;

              .navbar-nav {
                width: 100%;
                justify-content: flex-end;
                a {
                  margin: 0 1.5%;
                  color: white;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  &:hover {
                    color: $orange-theme;
                    transform: scale(1.1);
                  }
                  &:after {
                    content: "";
                    height: 4px;
                    width: 40px;
                    background-color: $orange-theme;
                    visibility: hidden;
                    margin-top: 5px;
                  }
                  &:hover::after {
                    color: $orange-theme;
                    font-weight: 500;
                    visibility: visible;
                    animation: transition 0.2s linear;
                    @keyframes transition {
                      0% {
                        width: 0;
                      }
                      100% {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1370px) {
            padding: 0;
          }
          @media screen and (max-width: 991px) {
            position: relative;
            background-color: $gray-background;
            padding: 0;
          }
        }
        #carouselControls {
          .carousel-control-prev {
            .carousel-control-prev-icon {
              background-color: $gray-text;
              color: $gray-background;
              &:hover {
                background-color: $orange-theme;
              }
            }
          }
          .carousel-control-next {
            .carousel-control-next-icon {
              background-color: $gray-text;
              color: $gray-background;
              &:hover {
                background-color: $orange-theme;
              }
            }
          }
          .carousel-inner {
            .carousel-item {
              position: relative;
              .carousel-caption {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .floating-content {
                  h3 {
                    font-size: $h3-font-size;
                  }
                  h1 {
                    font-size: $h1-font-size;
                  }
                  p {
                    color: $text-light-gray;
                    font-size: $p-font-size;
                  }
                }
                button {
                  margin: 0.938rem;
                  padding: auto;
                  color: $white-text;
                  border: 0.0625rem solid $white-text;
                  border-radius: 0.125rem;
                  @include format-btns;
                  &:hover {
                    background-color: $orange-theme;
                    border: 0.125rem solid $orange-theme;
                  }
                }
                @media screen and (max-width: 1169px) {
                  top: 40%;
                }
                @media screen and (max-width: 916px) {
                  top: 28%;
                  button {
                    margin: 0 1.25rem;
                  }
                }
                @media screen and (max-width: 767px) {
                  height: 100;
                  top: 40%;
                  .floating-content {
                    h3 {
                      font-size: $p-font-size;
                      margin: 0;
                    }
                    h1 {
                      font-size: $h3-font-size;
                      margin: 0;
                    }
                    p {
                      color: $text-light-gray;
                      font-size: $p-font-size;
                      margin: 0;
                    }
                    button {
                      transform: scale(0.6);
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 537px) {
            height: 21.875rem;
            .carousel-inner {
              height: 100%;
              .carousel-item {
                height: 100%;
                img {
                  height: 100%;
                }
                .carousel-caption {
                  top: 30%;
                }
              }
            }
          }
        }

        #btnAnchor {
          width: auto;
          height: auto;
          z-index: 3;
          position: absolute;
          bottom: -2.5rem;
          left: 0;
          right: 0;
          margin: 0 auto;

          &:hover {
            animation: anchor 1.75s infinite;
            animation-timing-function: linear;
            @keyframes anchor {
              0% {
                transform: rotate(0deg);
              }
              25% {
                transform: rotate(40deg);
              }
              50% {
                transform: rotate(0deg);
              }
              75% {
                transform: rotate(-40deg);
              }
              100% {
                transform: rotate(0deg);
              }
            }
          }
          &:focus {
            box-shadow: none;
          }
        }
        #btnBackTop {
          background-color: $orange-theme;
          color: $white-text;
          border: none;
          border-radius: 50%;
          height: 2.5rem;
          width: 2.5rem;
          text-align: center;
          position: fixed;
          bottom: 1.25rem;
          right: 1.25rem;
          z-index: 1000;
        }
      }
      main {
        #who-we-are {
          width: 61%;
          margin: auto;
          min-height: 27.625rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          .who-element {
            margin: 6.6875rem 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            .icons {
              position: relative;
              margin: 0 auto 1.875rem auto;
              text-align: center;
              padding-top: 2.1875rem;
              width: 6.25rem;
              height: 6.25rem;

              &::before {
                position: absolute;
                content: "";
                border: 0.125rem solid $gray-text;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all 0.5s;
              }
              &:hover::before {
                border: 0.125rem solid $orange-theme;
                transform: rotate(45deg);
              }
            }
            h3 {
              font-size: $h3-font-size;
              color: $gray-text-title;
              margin-bottom: 0;
            }

            .rectangle {
              margin: 1.25rem auto;
              width: 2.5625rem;
              height: 0.125rem;
              background-color: $gray-text;
            }
            p {
              font-size: $p-font-size;
              color: $gray-text;
            }
          }
        }
        #about-us {
          display: flex;
          flex-direction: row;
          margin: 6.25rem 19.5%;
          .about-image {
            text-align: center;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .about-content {
            padding-left: 4.8125rem;
            @media screen and (max-width: 65.625rem) {
              padding-left: 0;
            }
            h2 {
              font-size: $h2-font-size;
              color: $gray-text-title;
              margin-left: 2.1875rem;
              position: relative;
              &:before {
                position: absolute;
                left: -2.1875rem;
                top: 0.4375rem;
                content: "";
                height: 2.1875rem;
                width: 0.375rem;
                background-color: $orange-theme;
              }
            }
            p {
              margin: 3.375rem 0 2.8125rem 0;
              color: $gray-text;
              font-size: $p-font-size;
            }
            .browse {
              background-color: $orange-theme;
              color: $white-text;
              @include format-btns;
            }
          }
        }
        #services {
          background-color: $gray-background;
          min-height: 48rem;
          max-width: 120rem;
          margin: 0;
          .services-left-container {
            padding: 8.75rem 4% 8.75rem 19.5%;
            width: 54%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 1400px) {
              width: 100%;
              padding: 8.75rem 19.5% 8.75rem 19.5%;
            }

            .services-title {
              h2 {
                padding-right: 1.875rem;
                text-align: right;
                font-size: $h2-font-size;
                color: $white-text;
                position: relative;
                &:after {
                  position: absolute;
                  right: 0;
                  top: 0.4375rem;
                  content: "";
                  height: 2.1875rem;
                  width: 0.375rem;
                  background-color: $orange-theme;
                }
              }
            }
            .services-content-element {
              h3 {
                text-align: right;
                font-size: $h3-font-size;
                color: $orange-theme;
              }
              p {
                text-align: right;
                font-size: $p-font-size;
                color: $gray-text;
                position: relative;
                a {
                  position: absolute;
                  top: -1.875rem;
                  right: -20%;
                  @media screen and (max-width: 39.6875rem) {
                    display: none;
                  }
                }
              }
            }
          }
          .services-image {
            width: 46%;
            padding: 0;
            @media screen and (max-width: 1400px) {
              display: none;
            }
            img {
              height: max-content;
              width: 100%;
            }
          }
        }
        #portfolio {
          margin: 0;
          .portfolio-title {
            @include format-titles;

            h2 {
              color: $gray-text-title;
              font-size: $h2-font-size;
              margin: 0;
            }
            p {
              padding: 1.875rem 0;
              font-style: $p-font-size;
              color: $gray-text;
              margin: 0;
            }
          }
          .portfolio-browser {
            padding: 0;
            .browse-resent-works {
              padding: 0 0 3.125rem 0;
              ul {
                li {
                  a {
                    text-decoration: none;
                    font-size: $p-font-size;
                    color: $gray-text;
                  }
                  .active {
                    color: $orange-theme;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .portfolio-content {
            padding: 0;
            .portfolio-content-element {
              position: relative;
              padding: 0;
              &:hover .hover-wrap {
                visibility: visible;
              }
              a {
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .hover-wrap {
                visibility: hidden;
                padding: 0 0 3.125rem 3.125rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #e74d3cbe;
                z-index: 3;
                .bar {
                  width: 2.75rem;
                  height: 0.25rem;
                  background-color: $white-text;
                  margin-bottom: 1.9375rem;
                }
                h3 {
                  color: $white-text;
                  font-size: $h3-font-size;
                }
                p {
                  font-size: $p-font-size;
                  color: $white-text;
                  margin: 0;
                }
              }
            }
          }
        }
        #case-study {
          margin: 0;
          .case-study-title {
            @include format-titles;
            h2 {
              color: $gray-text-title;
              font-size: $h2-font-size;
              margin: 0;
            }
            p {
              padding: 1.875rem 0;
              font-style: $p-font-size;
              color: $gray-text;
              margin: 0;
            }
          }
          .case-study-content {
            padding: 0 19.5%;
            position: relative;

            .content-card {
              background-color: $white-text;
              position: absolute;
              width: 35%;
              height: 87%;
              top: 6.5%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              img {
              }
              h3 {
                font-size: $h3-font-size;
                color: $gray-text-title;
                margin-top: 3.375rem;
              }
              .bar {
                width: 40p;
                height: 0.0625rem;
                background-color: $gray-text-title;
                margin: 1.75rem 0;
              }
              p {
                font-size: $p-font-size;
                color: $gray-text;
                margin-bottom: 3.125rem;
              }
              .btn {
                background-color: $orange-theme;
                color: $white-text;
                @include format-btns;
              }
            }

            .content-background {
              img {
                width: 50%;
                margin-left: 50%;
              }
            }

            @media screen and (max-width: 1400px) {
              display: flex;
              flex-direction: row;

              .content-background {
                margin: 0;
                padding: 0;
                width: 50%;
                img {
                  width: 100%;
                  height: auto;
                  margin: 0;
                }
              }
              .content-card {
                position: initial;
                width: 50%;
                height: 100%;
                padding-bottom: 3.125rem;
              }
            }
            @media screen and (max-width: 1100px) {
              .content-background {
                display: none;
              }
              .content-card {
                width: 100%;
              }
            }
          }
        }
        #check-out-stats {
          min-height: 31.9375rem;
          background-image: url("../images/7-check-out-status/Index_0035_Background.png");
          display: flex;
          flex-direction: row;
          padding: 0 19.5%;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          .stats-item {
            color: $white-text;
            text-align: center;
            .counter {
              font-size: $h3-font-size;
              font-weight: 600;
              margin: 2.8125rem 0 0;
              
            }
          }
          @media screen and (max-width: 1200px) {
            background-color: $gray-background;
            background-image: none;
            .stats-item {
              width: 50%;
              padding: 3.125rem;
              .counter {
                color: $orange-theme;
              }
            }
          }
          @media screen and (max-width: 800px) {
            background-color: $gray-background;
            background-image: none;
            .stats-item {
              width: 100%;
              padding: 3.125rem;
              .counter {
                color: $orange-theme;
              }
            }
          }
        }
        #pricing {
          margin: 0;
          .pricing-title {
            @include format-titles;
            h2 {
              font-size: $h2-font-size;
              color: $gray-text-title;
            }
            p {
              font-size: $p-font-size;
              color: $gray-text;
            }
          }
          .pricing-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 19.5% 12.063rem;
            justify-content: center;
            .pricing-option {
              margin: auto;
              height: 38.125rem;
              width: 23.75rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .pricing-option-header {
                display: flex;
                color: $white-text;
                background-color: $gray-text;
                height: 34%;
                width: 100%;
                font-size: $h3-font-size;
                justify-content: center;
                align-items: center;
              }
              .pricing-option-value {
                position: relative;
                top: -4.78125rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: $h2-font-size;
                text-align: center;
                height: 9.5625rem;
                width: 9.5625rem;
                border-radius: 50%;
                z-index: 2;
                background-color: $white-text;
                &::before {
                  position: absolute;
                  content: "";
                  height: 9.6626rem;
                  width: 9.6626rem;
                  border-top: 0.8125rem solid #b0b0b1;
                  border-right: 0.8125rem solid #b0b0b1;
                  border-left: 0.8125rem solid #ffffff;
                  border-bottom: 0.8125rem solid #fbfbff;
                  border-radius: 50%;
                  transform: rotate(-45deg);
                }

                h3 {
                  font-size: $h2-font-size;
                  color: $gray-text;
                }
                p {
                  font-size: $p-font-size;
                  color: $gray-text;
                }
              }
              .pricing-option-details {
                position: relative;
                min-height: 11.25rem;
                top: -3.75rem;
                width: 100%;
                color: $gray-text;
                p {
                  height: 100%;
                  width: 100%;
                  margin: 0;

                  text-align: center;
                }
              }
              .planBtn {
                @include format-btns;
                color: $white-text;
                background-color: $gray-text;
              }
              &:hover {
                .pricing-option-header {
                  background-color: $orange-theme;
                }
                .pricing-option-value {
                  h3 {
                    color: red;
                  }
                  &::before {
                    border-right-color: #ea766b;
                    border-top-color: #ea766b;
                  }
                }
                .planBtn {
                  background-color: $orange-theme;
                }
              }
            }
          }
        }
        #team {
          background: url("../images/8-team/Shape\ 174\ with\ layer.png") center
            no-repeat;

          position: relative;
          margin: 0;
          height: 46.5rem;
          .clear {
            visibility: hidden;
            width: 100%;
            z-index: 1;
            padding: 0;
          }
          .team-title {
            @include format-titles;
            color: white;
            .line1,
            .line2 {
              background-color: $white-text;
            }
            padding: 0;
            position: absolute;
            top: 20%;
          }
          .team-content {
            position: absolute;
            bottom: 0;
            height: 12.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            .team-mate {
              text-align: center;
              position: relative;
              z-index: 2;
              margin: 0 3.125rem;
              img {
                border: 0.125rem solid $orange-theme;
                border-radius: 50%;
                background-color: $orange-theme;
              }
              &:hover {
                transform: scale(1.1);

                .team-element-details {
                  visibility: visible;
                }
              }
              .team-element-details {
                visibility: hidden;
                h3 {
                  color: $orange-theme;
                }
                p {
                  color: $white-text;
                }
                &::before {
                  display: block;
                  position: relative;
                  left: 3.625rem;
                  content: "";
                  height: 3.125rem;
                  width: 0.125rem;
                  background-color: $white-text;
                  z-index: 3;
                }
              }
            }
            .team-element1 {
              bottom: 60%;
            }
            .team-element2 {
              bottom: 75%;

              img {
                height: 3.125rem;
                width: 3.125rem;
              }
            }
            .team-element3 {
              bottom: 75%;
            }
            .team-element4 {
              bottom: 58%;
            }
            .team-element5 {
              bottom: 65%;
            }
          }
          @media screen and (max-width: 1160px) {
            background-image: none;
            background-color: $gray-background;
            height: auto;

            .clear {
              display: none;
            }

            .team-title {
              position: static;
              @include format-titles();
            }
            .team-content {
              position: relative;
              height: auto;

              .team-mate {
                bottom: 0;
                margin-bottom: 1.25rem;
                .team-element-details {
                  visibility: visible;
                }
              }
            }
          }
        }
        #our-clients {
          margin: 0;
          padding: 0 19.5%;
          .our-clients-title {
            @include format-titles;
            height: 100%;

            h2 {
              font-size: $h2-font-size;
              color: $gray-text-title;
              display: flex;
              justify-content: center;
            }
            p {
              font-size: $p-font-size;
              color: $gray-text;
            }
          }
          .our-clients-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .our-clients-element {
              min-width: 20%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              img {
                filter: grayscale(100%);
                transition: 0.5s ease-in-out;
              }

              &:hover {
                img {
                  // filter: brightness(0) invert(1);
                  filter: grayscale(0%);
                  transition: 0.5s ease-in-out;
                }
              }
            }
          }
        }
        #our-blog {
          margin: 0;
          .blog-title {
            @include format-titles;
            h2 {
              font-size: $h2-font-size;
              color: $gray-text-title;
            }
            p {
              font-size: $p-font-size;
              color: $gray-text;
            }
          }
          .blog-content {
            padding: 0;
            .blog-images {
              padding: 0;
              margin: 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .image-info {
              background-color: $orange-theme;
              color: $white-text;
              position: relative;
              margin: 0;
              padding: 0;
              padding: 4.375rem 3.125rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:nth-child(2):before {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 4.375rem solid transparent;
                border-bottom: 4.375rem solid transparent;
                border-right: 3.125rem solid $orange-theme;
                top: 34%;
                left: -5%;
              }
              &:nth-child(4):before {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 4.375rem solid transparent;
                border-bottom: 4.375rem solid transparent;
                border-right: 3.125rem solid $orange-theme;
                top: 34%;
                left: -5%;
              }
              &:nth-child(5):after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 4.375rem solid transparent;
                border-bottom: 4.375rem solid transparent;
                border-right: 3.125rem solid $orange-theme;
                top: 34%;
                transform: rotate(180deg);
                right: -5%;
              }
              &:nth-child(7)::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: 4.375rem solid transparent;
                border-bottom: 4.375rem solid transparent;
                border-right: 3.125rem solid $orange-theme;
                transform: rotate(180deg);
                top: 34%;
                right: -5%;
              }
              @media screen and (max-width: 767px) {
                &:nth-child(2):before {
                  top: -19%;
                  left: 45%;
                  transform: rotate(90deg);
                }
                &:nth-child(4):before {
                  top: -19%;
                  left: 45%;
                  transform: rotate(90deg);
                }
                &:nth-child(5):after {
                  top: 80%;
                  left: 45%;
                  transform: rotate(-90deg);
                }
                &:nth-child(7)::after {
                  top: 80%;
                  left: 45%;
                  transform: rotate(-90deg);
                }
              }
              p {
                font-size: $p-font-size;
                color: $white-text;
              }
              h3 {
                font-size: $h3-font-size;
                color: $white-text;
              }
              .rectangle {
                height: 0.25rem;
                width: 2.75rem;
                background-color: $white-text;
              }
              a {
                text-decoration: none;
                color: $white-text;
                em {
                  font-size: $h4-font-size;
                  font-weight: 450;
                }
              }
            }
          }
        }
        #contact {
          padding: 0;
          margin: 0;
          .contact-title {
            @include format-titles;
            h2 {
              font-size: $h2-font-size;
              color: $gray-text-title;
            }
            p {
              font-size: $p-font-size;
              color: $gray-text-title;
            }
          }
          .contact-content {
            padding: 0 19.5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .contact-details {
              max-width: 40.7%;
              padding: 0 5.9375rem;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              min-height: 35.75rem;
              .detail-card {
                h3 {
                  color: $orange-theme;
                  font-size: $h3-font-size;
                }
                h4 {
                  font-size: $h4-font-size;
                  color: $gray-text;
                }
              }
            }
            .contact-send-message {
              max-width: 56.8%;
              padding: 5.9375rem;
              form {
                .form-group {
                  margin: 0.9375rem 0;
                  label {
                    font-size: $p-font-size;
                    color: $gray-text;
                  }

                  .form-control {
                    border-top: hidden;
                    border-left: hidden;
                    border-right: hidden;
                    &:focus {
                      border-color: $orange-theme;
                      box-shadow: 0 0 0 0.25rem #e74d3c57;
                    }
                  }
                }
              }
              .formBtn {
                @include format-btns;
                background-color: #e74c3c;
                color: $white-text;
                margin-top: 1.25rem;
              }
            }

            @media screen and (max-width: 1399px) {
              .contact-details {
                padding: 0;
              }
              .contact-send-message {
                padding: 5.9375rem 0;
              }
            }
            @media screen and (max-width: 899px) {
              height: auto;

              .contact-details {
                padding: 0;
                max-width: 100%;
                height: auto;
                justify-content: space-evenly;
                align-items: center;
                .detail-card {
                  width: 100%;
                }
              }
              .contact-send-message {
                padding: 0;
                max-width: 100%;
              }
            }
          }
        }
        #promo {
          background: url("../images/11-promo/Index_0008_Background-copy-4.png");
          min-height: 30.0625rem;
          @include format-titles;
          color: white;
          .btn {
            margin: 4.375rem 0;
            @include format-btns;
            background-color: $orange-theme;
            color: $white-text;
          }
        }
      }
      footer {
        min-height: 4.375rem;
        width: 100%;
        margin: 0;
        background-color: $gray-background;
        padding: 0 19.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .socials {
          width: auto;
          padding: 0;
          a {
            margin: 0 0.625rem;
            background-color: none;
            img {
              filter: contrast(0%);
              &:hover {
                filter: invert(43%) sepia(49%) saturate(4945%)
                  hue-rotate(340deg) brightness(95%) contrast(90%);
              }
            }
          }
        }
        .rights {
          padding: 0;
          width: initial;
          color: $gray-text-title;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.figure-dot- {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .line1 {
    margin: 0.625rem;
    width: 4.9375rem;
    height: 0.0625rem;
    background-color: $gray-text;
  }
  .dot {
    width: 0.4375rem;
    height: 0.4375rem;
    background-color: $orange-theme;
    border-radius: 50%;
  }
  .line2 {
    margin: 0.625rem;
    width: 4.9375rem;
    height: 0.0625rem;
    background-color: $gray-text;
  }
}
